.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 1.1rem;
  color: var(--black);
}

.footer span i {
  color: var(--primary-color);
  vertical-align: middle;
}

.footer #dev {
  text-decoration: none;
  color: var(--primary-color);
}