<mat-card>
  <mat-card-title id="cnc-title">Alterar Contato</mat-card-title>
  <form>
    <!-- Name/Nome -->
    <mat-form-field>
      <input matInput placeholder="Nome" [(ngModel)]="contact.name" name="name">
    </mat-form-field>

    <!-- DDD -->
    <mat-form-field>
      <input matInput placeholder="DDD" [(ngModel)]="contact.ddd" name="ddd" maxlength="2"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
    </mat-form-field>

    <!-- Cellphone/Telephone Number -->
    <!-- Número do Telefone/Celular -->
    <mat-form-field>
      <input matInput placeholder="Número" [(ngModel)]="contact.number" name="number" maxlength="2"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57">
    </mat-form-field>

    <!-- Address/Endereço -->
    <mat-form-field>
      <input matInput placeholder="Endereço" [(ngModel)]="contact.address" name="address">
    </mat-form-field>

  </form>
  <button mat-raised-button (click)="updateContact()" color="primary">Salvar Contato</button>
  <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>