.sidenav {
  background-color: var(--secondary-color);
  width: 200px;
  z-index: 1;
}

.nav-list {
  text-align: left;
}

.sidenav a {
  color: var(--white);
  padding: 15px;
  vertical-align: middle;
}

.sidenav a:hover {
  background-color: var(--secondary-color-hover);
}

.sidenav i {
  vertical-align: middle;
  padding-right: 5px;
  margin-left: 5px
}

.content {
  margin-top: 64px;
  padding: 16px;
  background-color: var(--white);
}