/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Variable */
:root {
  --primary-color: #EA5455;
  --side-nav-color:  #3F51B5;
  --white-color: #FFF;
}