/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  box-sizing: border-box;
}

#MyAgenda {
  color: var(--primary-color);
}

/* Variables */
:root {
  --primary-color: #EA5455;
  --secondary-color:  #3F51B5;
  --secondary-color-hover: #1d32a7;
  --white: #FFF;
  --black: #222;
  --dark-gray: #323232;
  --success: #ADFF2F;
}

.msg-success {
  background-color: var(--dark-gray);
  color: var(--success);
}

.msg-error {
  color: var(--primary-color);
}