/* Global Styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Variables */
:root {
  --primary-color: #EA5455;
  --secondary-color:  #2E47D3;
  --white: #FFF;
  --black: #222;
}